@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, h1, h2, h3, h4 {
  font-family: 'Open Sans', '-apple-system', 'system-ui', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

.wrapper {
  max-width: 1000px;
}
@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1500px) {
}

.promoSection .promoRow .pluginRowBlock {
  justify-content: left;
}

.button {
  background-color: #fffaf4;
}

.container .wrapper h2 {
  font-size: 25px;
}

.navPusher {
  padding-top: 100px;
  height: calc(100% - 100px);
}
.gridBlock .fourByGridBlock .blockContent  div {
  margin-bottom: 30px;
}
.imageAlignTop .blockImage {
  margin-bottom: 0;
}
@media only screen and (min-width: 736px) {
  .navPusher {
    padding-top: 50px;
    height: calc(100% - 50px);
  }

  .gridBlock .fourByGridBlock {
    display: flex;
    flex-direction: column;
  }

  .gridBlock .fourByGridBlock .blockContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .gridBlock .fourByGridBlock .blockContent  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .gridBlock .fourByGridBlock .blockContent  div span {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.navSearchWrapper .aa-dropdown-menu {
  border-width: 1px;
  padding: 2px 20px 10px 2px;
}

.mermaid {
  width: 100%;
  font-size: 14px;
  font-family: trebuchet ms,verdana,arial;
}

.mermaid svg {
  height: auto;
}


/*tmp*/
.band {
  padding: 50px 0 20px 0;
}

.band-container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.band-container h2 {
  font-size: 40px;
  padding-bottom: 25px;
  line-height: 40px;
}

.band-container p {
  padding-bottom: 25px;
}

.inner {
  width: 720px
}

header {
  padding: 8px 0 9px 0;
}

.fixedHeaderContainer a {
  height: 40px;
}

.fixedHeaderContainer .navigationWrapper.navigationSlider {
  margin-top: 5px;
}

footer a, footer p {
  color: #dddddd;
}
footer a:hover {
  color: #ffffff;
}

input#search_input_react {
  background-color: rgba(0, 0, 0, 0.1);
}

.projectTitle {
  padding-top: 23px;
  font-size: 52px;
  font-weight: bold;
}
.projectTitle small {
  padding: 20px 10% 0 10%;
  font-size: 22px;
  line-height: 28px;
}

.headerButtons a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 735px) {
  .fixedHeaderContainer header{
    padding-top: 0;
    justify-content: center;
  }

  .fixedHeaderContainer header img {
    height: 80%;
  }

  .fixedHeaderContainer a {
    align-items: end;
  }

  .navSearchWrapper {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  font-weight: bold;
}

table tr th, table tr td {
  text-align: left;
  padding: 8px 10px;
  border: 1px solid #aaaaaa;
  text-transform: none;
  background: #f0f0f0;
}

table tr th {
  color: #333333;
}

.nexentaSection {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.nexentaSection table tr th, .nexentaSection table tr td {
  font-family: 'Open Sans', '-apple-system', 'system-ui', sans-serif;
  font-size: 1.1em;
}
